In [1]:
# read in vine_table csv you just exported from postgres
import pandas as pd

vine_table_df = pd.read_csv('/Users/Admin/Desktop/vine_table.csv')

In [2]:
# confirm that it imported

vine_table_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EFW2STIYIY0I,1,2,2,N,Y
1,R12NR0R5A9F7FT,5,0,0,N,Y
2,R1LSH74R9XAP59,2,0,1,N,Y
3,R1QXUNTF76K7L6,2,0,0,N,Y
4,R2F7DR75PS8NKT,5,0,0,N,Y

In [3]:
# Filter the data and create a new DataFrame or table to retrieve all the rows 
# where the total_votes count is equal to or greater than 20

greater_than_20_votes_df = vine_table_df[vine_table_df['total_votes'] > 20]

In [4]:
# check to see if it worked
greater_than_20_votes_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y

In [5]:
# create a new df based on helpful_votes / total_votes > 50
mostly_helpful_votes_df = greater_than_20_votes_df[greater_than_20_votes_df['helpful_votes'] / greater_than_20_votes_df['total_votes'] >= 0.5]

In [6]:
# check to see if the previous cell worked
mostly_helpful_votes_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y

In [19]:
# create a new columns that is the helpfulness percentage
# mostly_helpful_votes_df['helpfulness_percentage'] = 100*(mostly_helpful_votes_df['helpful_votes'] / mostly_helpful_votes_df['total_votes'])

/Users/Admin/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# mostly_helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness_percentage
19,R26CC1STPSUHBS,1,27,39,N,N,69.230769
202,R7K83D59T9KWS,1,16,26,N,N,61.538462
219,R2ATG5BPVILHUM,1,16,25,N,N,64.000000
345,R1Q71TAM5ZOYTK,3,57,61,N,N,93.442623
454,RR8HYI7C2XKMU,5,25,25,N,Y,100.000000
...,...,...,...,...,...,...,...
341915,R1AQGHID4CP5AP,5,23,25,N,N,92.000000
341916,R3L2BJHIOT18TS,4,25,26,N,N,96.153846
341919,R22YSF1AKQ49T6,2,21,25,N,N,84.000000
341920,RE4LNSZWHHPQ4,5,48,59,N,N,81.355932
341922,R30SHB0N1VNHA1,5,89,89,N,N,100.000000

In [9]:
# create a dataframe of just vine members
vine_members_df = mostly_helpful_votes_df[mostly_helpful_votes_df['vine'] == 'Y']
vine_members_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
11313,R28EIR3Z6RRUNN,2,50,60,Y,N
19233,R2YO2RESXZEWOF,4,24,25,Y,N
30450,R8GEE2EW3D6S9,3,49,54,Y,N
32929,R33W9V1MX6WKPS,4,47,53,Y,N
35028,R24E3W2ZRIFG8C,5,91,93,Y,N

In [10]:
# create a dataframe of reviewers who are not vine members
not_vine_members_df = mostly_helpful_votes_df[mostly_helpful_votes_df['vine'] == 'N']
not_vine_members_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y

In [14]:
# Find the number of five star reviews for the vine members.
len(vine_members_df[vine_members_df['star_rating'] == 5])

93

In [18]:
# Find the percentage of five star reviews for the vine members.
100 * (len(vine_members_df[vine_members_df['star_rating'] == 5]) / len(vine_members_df[vine_members_df['star_rating'] != 5]))

67.3913043478261

In [ ]:
# Now do the same for reviewers who are not vine members

In [19]:
len(not_vine_members_df)

16464

In [21]:
# check the number of 5 star votes from non-vine members
len(not_vine_members_df[not_vine_members_df['star_rating'] == 5])

4867

In [22]:
# check the number of other votes from non-vine members
len(not_vine_members_df[not_vine_members_df['star_rating'] != 5])

11597

In [23]:
# Find the percentage of five star reviews for the non-vine members.
100 * (len(not_vine_members_df[not_vine_members_df['star_rating'] == 5]) / len(not_vine_members_df[not_vine_members_df['star_rating'] != 5]))

41.96775028024489